.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  min-height: 100vh;
  min-width: 100vw;
  padding: 3rem 2rem;
  background-color: #e0f3fd;
  box-sizing: border-box;
}
.main-page {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
}

@media screen and (max-width: 480px) {
  .app {
    padding-top: 1rem;
  }
}
